<div class="text-center">
    <h1 class="display-4">Account Details</h1>
    <p>Display: Account Name</p>
    <p>Display: Account Password</p>
    <p>Button: Delete</p>
    <p>Link: Home, Data, Workouts, Exercises</p>
</div>