<div class="text-center">
    <h1 class="display-4">Account Index - Login Page</h1>
    <p>Input: Account Name</p>
    <p>Input: Account Password</p>
    <p>Button: Login, validation check and then enter into Home/Index</p>
    <p>Link: Register now</p>
</div>