<h1>About Team Melon.</h1><br>

<div class="text-center">
    <h3><b>We are a team of students that go to Epicodus.</b></h3><br>
    <div class="row">
        <div class="col-md-4">
            <img class="aboutImage" src="~/images/Jack.jpg" alt="Jack">
            <p><b>Jack</b></p>
            <a href="https://www.linkedin.com/in/jackstunning/"><span class="oi oi-home" aria-hidden="true"></span> LinkedIn</a><br>
            <a href="https://github.com/JackStunning"><span class="oi oi-home" aria-hidden="true"></span> Github</a>
        </div>
        <div class="col-md-4">
            <img class="aboutImage" src="~/images/Andrew.jpg" alt="Andrew">
            <p><b>Andrew</b></p>
            <a href="https://www.linkedin.com/in/andrewphilpottdeveloper/"><span class="oi oi-home" aria-hidden="true"></span> LinkedIn</a><br>
            <a href="https://github.com/Andrew-Philpott"><span class="oi oi-home" aria-hidden="true"></span> Github</a>
        </div>
        <div class="col-md-4">
            <img class="aboutImage" src="~/images/Steven.jpg" alt="Steven">
            <p><b>Steven</b></p>
            <a href="https://www.linkedin.com/in/stevenlouisfleming/"><span class="oi oi-home" aria-hidden="true"></span> LinkedIn</a><br>
            <a href="https://github.com/StevenFleming"><span class="oi oi-home" aria-hidden="true"></span> Github</a>
        </div>
    </div>
</div>
