<div class="text-center">
    <h1 class="display-4">Exercises Create</h1>
    <p>Input: Exercise Name</p>
    <p>Input: Reps</p>
    <p>Input: Sets</p>
    <p>Links: Home, Data, Exercises, Workouts</p>
</div>