@{
  Layout = "_Layout";
}

<div class="text-center">
    <h2>Delete?</h2>
    <h4>Are you sure you want to delete this Exercise?</h4>

    @* <p>Links: Home, Data, Exercises, Workouts</p> *@
    <a href="/Home/Index"><p>Home</p></a>
    <a href="/Data/Index"><p>View Data</p></a>
    <a href="/Workouts/Index"><p>View Workouts</p></a>
</div>