@{
  Layout = "_Layout";
}

@model BodyJournalClient.ViewModels.ViewExercise


<div class="text-center">
    <h1 class="display-4">Exercise Details</h1>
        
    @* <p>List: Exercise with their Sets, Reps,</p> *@
        <div class="exercise">
          <span>@Model.Name</span>
          <span>@Model.IntensityScore</span>
          <span>@Model.Satisfaction</span>
        </div>

  <div class="links">
    <a href="/exercises"><p>Exercises</p></a>
  </div>
</div>