<div class="text-center">
    <h1 class="display-4">Exercise Details</h1>

    @* <p>List: Exercise with their Sets, Reps,</p> *@
    <h3>Exercise Name</h3>
        <p>Muscle Group</p>
        <p>Intensity</p>
        <p>Weight* (optional)</p>
        <p>Sets</p>
        <p>Reps</p>

    @* <p>Links: Data, Exercises, Add new Exercises</p> *@
    <a href="/Exercises/Create"><p>Add new Exercise</p></a>
    <a href="/Home/Index"><p>Home</p></a>
    <a href="/Data/Index"><p>Data</p></a>
    <a href="/Workouts/Index"><p>View Workouts</p></a>

</div>