@{
  Layout = "_Layout";
}
@using BodyJournalClient.Models;
@model IEnumerable<BodyJournalClient.Models.Exercise>;


<div class="text-center">
    <h1 class="display-4">Exercises</h1>

@if(Model.Any())
  {
    @foreach (Exercise exercise in Model)
    {
      <div class="exercise">
          <a href="exercises/@(exercise.Id)">
            <span>@exercise.Name</span>
            <span>@exercise.Intensity</span>
          </a>
      </div>
    }
  }
  else
  {
    <h3>You dont have any exercises yet</h3>
  }

<div class="links">
    <a href="/exercises/create"><p>Create Exercise</p></a>
</div>
    @* <p>Links: Home, Data, Workouts, Add new Exercise</p> *@

</div>