<div class="text-center">
    <h1 class="display-4">Workout Create</h1>
    <p>Input: Workout Name</p>
    <p>Input: Drop downs you can choose exercises that can be deleted or added</p>
    <p>Links: Data, Exercises, Workouts</p>
</div>