@{
  Layout = "_Layout";
}

@model BodyJournalClient.ViewModels.CreateWorkout;

<div class="text-center">
    <h1 class="display-4">Workouts Create</h1>
<form asp-action="Create" method="POST">

    <p>Input: Workout Name</p>
    <label for="Name">Workout Name</label>
    <input name="Name" type="text" value="@(Model.Name)"> 

    <p>Input: Satisfaction</p>
    <label for="Satisfaction"> Satisfaction </label>
    <input name="Name" type="int" value="@(Model.Satisfaction)">  
    <div></div>

    @* <p>Input: Drop downs you can choose exercises that can be deleted or added</p>
    @Html.Label("Select Exercise")
    @Html.DropDownList("ExerciseId")<br> *@

    <input  type="submit" value="Create">
</form>

  <div class="links">
    <a href="/workouts">View Workouts</a>
  </div>
</div>