@{
  Layout = "_Layout";
}

@using BodyJournalClient.Models;
@model BodyJournalClient.Models.Workout;

<div class="text-center">
    <h2>Edit</h2>

    <h4>Edit this Workout: WorkoutName</h4>

    <p>Input: Workout Name</p>
    <label for="WorkoutName">Exercise Name</label>
    <input name="WorkoutName" type="text" value ="@(Model.Name)"> 

    <p>Input: Workout Satisfaction</p>
    <label for="WorkoutName">Satisfaction</label>
    <input name="WorkoutName" type="int" value="@(Model.Satisfaction)"> 

    <p>Input: Workout Intensity </p>
    <label for="WorkoutName">Intensity</label>
    <input name="WorkoutName" type="int" value="@(Model.IntensityScore)"> 

    <p>Input: Workout </p>
    <label for="WorkoutName">Exercise </label>
    <input name="WorkoutName" type="text" value="@(Model.Name)"> 

    @* <p>Links: Home, Data, Exercises, Workouts</p> *@
    <a href="/Home/Index"><p>Home</p></a>
    <a href="/Workouts/Index"><p>View Workouts</p></a>
    <a href="/Exercises/Index"><p>View Exercises</p></a>
</div>