@{
  Layout = "_Layout";
}

<div class="text-center">
    <h2>Edit</h2>

    <h4>Edit this Workout: WorkoutName</h4>

    <p>Links: Home, Data, Exercises, Workouts</p>
      <a href="/Home/Index"><p>Home</p></a>
      <a href="/Workouts/Index"><p>View Workouts</p></a>
      <a href="/Exercises/Index"><p>View Exercises</p></a>
</div>