@using BodyJournalClient.Models;
@model IEnumerable<BodyJournalClient.Models.Workout>

<div class="text-center">

@if(Model.Any())
  {
      @foreach (Workout workout in Model)
      {
        <div class="workout">
            <a href="workouts/@(workout.Id)">
                <span>@workout.Name</span>
                <span>@workout.IntensityScore</span>
            </a>
        </div>
    }
  }
  else
  {
    <h3>You dont have any exercises yet</h3>
  }

  <div class="links">
    <a href="/workouts/create"><p>Create Workout</p></a>
</div>
</div>