@using BodyJournalClient.Models;
@model IEnumerable<BodyJournalClient.Models.Workout>

<div class="text-center">

@if(Model.Any())
  {
      @foreach (Workout workout in Model)
      {
        <div class="exercise">
            <a href="exercises/@(workout.Id)">
                <span>@workout.Name</span>
                <span>@workout.IntensityScore</span>
            </a>
        </div>
    }
  }

  else
  {
    <h3>You dont have any exercises yet</h3>
  }
@* 

    @* <p>Links: Home, Data, Exercises, Add new Workouts</p> *@
    <a href="/Home/Index"><p>Home</p></a>
    <a href="/Data/Index"><p>View Data</p></a>
    <a href="/Exercises/Index"><p>View Exercises</p></a>
</div>