html {
  background: #333;
  background: linear-gradient(25deg, #111, #555);
  font-family: Roboto;
}
body {
  font-family: Roboto;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100%;
  padding: 1rem 0;
}
main .info {
  font-size: 0.8rem;
  display: block;
  width: 250px;
  padding-top: 50px;
  color: #eee;
  padding-left: 2rem;
  opacity: 0.5;
}
main .info:hover {
  opacity: 1;
}
main .info a {
  color: #eee;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}

/* Muscle Group Map */

.muscle-groups {
  position: relative;
  background: #eee;
  width: 320px;
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
  border-top: 0.75rem solid #00bcd4;
}
.muscle-groups h1 {
  margin: -0.5rem -0.5rem 1rem;
  padding: 0 0.5rem 0.5rem;
  background: #00bcd4;
  color: #eee;
  text-align: center;
  font-size: 1.25rem;
}
.muscle-groups h2 {
  margin: 0 0 0.5rem;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.muscle-groups label + h2 {
  margin-top: 1rem;
}
.muscle-groups label {
  width: 50px;
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.7rem;
  opacity: 0.5;
  position: relative;
  z-index: 200;
  border-left: 5px solid transparent;
  padding-left: 6px;
  margin-left: -11px;
}
.muscle-groups label:hover, .muscle-groups label.hover {
  opacity: 1;
  border-color: rgba(51, 51, 51, .75);
}
.muscle-groups input:checked + label {
  opacity: 1;
  font-weight: bold;
  color: #00bcd4;
}
.muscle-groups svg {
  position: absolute;
  right: -1.5rem;
  bottom: 3rem;
  height: 350px;
  z-index: 100;
}
.muscle-groups svg g[id] path {
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
}
.muscle-groups svg g g[id]:hover path {
  cursor: pointer;
  opacity: 0.5;
  fill: #00bcd4 !important;
}
.muscle-groups .muscles-helper {
  display: none;
}
.muscle-groups label[for="obliques"]:hover ~ svg #Obliques path {
  opacity: 0.75;
}
.muscle-groups .obliques:checked ~ svg #Obliques path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="abs"]:hover ~ svg #Abs path {
  opacity: 0.75;
}
.muscle-groups .abs:checked ~ svg #Abs path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="quads"]:hover ~ svg #Quads path {
  opacity: 0.75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="biceps"]:hover ~ svg #Biceps path {
  opacity: 0.75;
}
.muscle-groups .biceps:checked ~ svg #Biceps path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="adductors"]:hover ~ svg #Adductors path {
  opacity: 0.75;
}
.muscle-groups .adductors:checked ~ svg #Adductors path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="pectorals"]:hover ~ svg #Pectorals path {
  opacity: 0.75;
}
.muscle-groups .pectorals:checked ~ svg #Pectorals path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="deltoids"]:hover ~ svg #Deltoids path {
  opacity: 0.75;
}
.muscle-groups .deltoids:checked ~ svg #Deltoids path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="hamstrings"]:hover ~ svg #Hamstrings path {
  opacity: 0.75;
}
.muscle-groups .hamstrings:checked ~ svg #Hamstrings path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="quads"]:hover ~ svg #Quads path {
  opacity: 0.75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="forearms"]:hover ~ svg #Forearms path {
  opacity: 0.75;
}
.muscle-groups .forearms:checked ~ svg #Forearms path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="calves"]:hover ~ svg #Calves path {
  opacity: 0.75;
}
.muscle-groups .calves:checked ~ svg #Calves path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="triceps"]:hover ~ svg #Triceps path {
  opacity: 0.75;
}
.muscle-groups .triceps:checked ~ svg #Triceps path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="glutes"]:hover ~ svg #Glutes path {
  opacity: 0.75;
}
.muscle-groups .glutes:checked ~ svg #Glutes path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="lats"]:hover ~ svg #Lats path {
  opacity: 0.75;
}
.muscle-groups .lats:checked ~ svg #Lats path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="trapezius"]:hover ~ svg #Trapezius path {
  opacity: 0.75;
}
.muscle-groups .trapezius:checked ~ svg #Trapezius path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="arms"]:hover ~ svg #Arms path {
  opacity: 0.75;
}
.muscle-groups .arms:checked ~ svg #Arms path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="shoulders"]:hover ~ svg #Shoulders path {
  opacity: 0.75;
}
.muscle-groups .shoulders:checked ~ svg #Shoulders path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="chest"]:hover ~ svg #Chest path {
  opacity: 0.75;
}
.muscle-groups .chest:checked ~ svg #Chest path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="back"]:hover ~ svg #Back path {
  opacity: 0.75;
}
.muscle-groups .back:checked ~ svg #Back path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="core"]:hover ~ svg #Core path {
  opacity: 0.75;
}
.muscle-groups .core:checked ~ svg #Core path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}
.muscle-groups label[for="legs"]:hover ~ svg #Legs path {
  opacity: 0.75;
}
.muscle-groups .legs:checked ~ svg #Legs path {
  opacity: 0.8;
  fill: #00bcd4 !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

