<div class="text-center">
    <h1 class="display-4">Data Create</h1>
    <p>Input: Recording Time</p>
    <p>Input: Intensity</p>
    <p>Input: Workouts</p>
    <p>Links: Data, Exercises, Workouts</p>
</div>