<div class="text-center">
    <h1 class="display-4">Data Details</h1>
    <p>Bigger view of Info about specific Data</p>

    @* <p>Links: Data, Exercises, Workouts</p> *@
    <a href="/Home/Index"><p>Home</p></a>
    <a href="/Exercises/Index"><p>View Exercises</p></a>
    <a href="/Workouts/Index"><p>View Workouts</p></a>
</div>