<div class="text-center">
    <h1 class="display-4">Data Edit</h1>
    <p>Edit Input: Recording Time</p>
    <p>Edit Input: Intensity</p>
    <p>Edit Input: Workouts</p>
    <p>Edit Links: Data, Exercises, Workouts</p>
</div>