<div class="text-center">
    <h1 class="display-4">Data Index</h1>
    <p>Graph: Dates and Time of Workouts entered</p>
    <p>Graph: Workouts Intensity</p>
    <p>Graph: Exercises per Workout</p>
    <p>Graph: Muscle Fatigue Overall</p>
    <p>Graph: Muscle Fatigue specific muscle groups</p>
    <p>Links: Home, Exercises, Workouts</p>
    <a href="/Home/Index"><p>Home</p></a>
    <a href="/Workouts/Index"><p>View Workouts</p></a>
    <a href="/Exercises/Index"><p>View Exercises</p></a>
</div>