<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif;
    }
  </style>
   <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">
      let averageExerciseIntensity;
      let dataPoint;
      let dataPoint2;
      let testdataPoint = 4;
        async function makeApiCall() {
        let intensityCount = 0;
        let responseExercise = await fetch("http://localhost:4000/api/bodyjournal/exercises");
        let jsonifiedResponseExercise= await responseExercise.json();
        let intensityScore = jsonifiedResponseExercise[0].intensity;
        for (let i=0; i < jsonifiedResponseExercise.length; i++)
        {
          intensityCount += jsonifiedResponseExercise[i].intensity;
        }
        averageExerciseIntensity = intensityCount/jsonifiedResponseExercise.length -1;
        dataPoint2 = intensityCount;
        dataPoint = intensityScore;
        }
        async function Load(){
          makeApiCall();
          GoogleLoad();
        }
      async function GoogleLoad() { 
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      }
      Load();
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Exercise Intensity'],
          ['3/24',  dataPoint],
          ['3/25',  4],
          ['3/26',  5],
          ['3/27',  averageExerciseIntensity],
          ['3/28',  2],
          ['3/29',  1],
          ['3/30',  0],
        ]);
        var options = {
          title: 'Exercise Intensity by Day',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body class="w3-light-grey">
    <div class="w3-main" style="margin-left: 300px; margin-top: 43px;">
      <header class="w3-container" style="padding-top: 22px;">
        <h5>
          <b><i class="fa fa-dashboard"></i> Muscle Groups</b>
        </h5>
      </header>

      <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
          <div class="w3-container w3-red w3-padding-16">
            <div class="w3-left"><i class="w3-xxxlarge"></i></div>
            <h4>Chest</h4>
            <p>Days last worked on</p>
            <h3>3</h3>
            <div class="w3-clear"></div>
          </div>
        </div>
        <div class="w3-quarter">
          <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left"><i class="w3-xxxlarge"></i></div>
            <h4>Back</h4>
            <p>Days last worked on</p>
            <h3>2</h3>
            <div class="w3-clear"></div>
          </div>
        </div>
        <div class="w3-quarter">
          <div class="w3-container w3-teal w3-padding-16">
            <div class="w3-left"><i class="w3-xxxlarge"></i></div>
            <h4>Abs</h4>
            <p>Days last worked on</p>
            <h3>2</h3>
            <div class="w3-clear"></div>
          </div>
        </div>
        <div class="w3-quarter">
          <div class="w3-container w3-orange w3-text-white w3-padding-16">
            <div class="w3-left"><i class="w3-xxxlarge"></i></div>
            <h4>Legs</h4>
            <p>Days last worked on</p>
            <h3>5</h3>
            <div class="w3-clear"></div>
          </div>
        </div>
      </div>
      
          <div class="w3-twothird">
            <h5>Workouts</h5>
            <table class="w3-table w3-striped w3-white">
              <tr>
                <td><i class="w3-text-red w3-large">Chest</i></td>
                <td>Bench Press.</td>
                <td><i>2:45PM, 4/7/2020</i></td>
              </tr>
              <tr>
                <td><i class="w3-text-blue w3-large">Back</i></td>
                <td>Barbell Deadlift.</td>
                <td><i>2:45PM, 4/7/2020</i></td>
              </tr>
              <tr>
                <td><i class="w3-text-green w3-large">Abs</i></td>
                <td>Sit Ups.</td>
                <td><i>2:45PM, 4/7/2020</i></td>
              </tr>
              <tr>
                <td><i class="w3-text-orange w3-large">Legs</i></td>
                <td>Squats.</td>
                <td><i>2:45PM, 4/7/2020</i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <hr />
      <div class="w3-container">
        <h5>General Graphs</h5>
        <p>Muscle Fatigue vs Time Graph</p>
        <div id="curve_chart" style="width: 900px; height: 500px"></div>
        <div class="w3-grey">
          <div
            class="w3-container w3-center w3-padding w3-green"
            style="width: 25%;"
          >
            +25%
          </div>
        </div>

        <p>Average Intensity per Exercise Graph</p>
        <div class="w3-grey">
          <div
            class="w3-container w3-center w3-padding w3-orange"
            style="width: 50%;"
          >
            50%
          </div>
        </div>
      </div>
      <hr />
      <div class="w3-container">
        <h5>General Stats</h5>
        <p>Total Workouts</p>
        <div class="w3-grey">
          <div class="w3-container w3-padding">${IntensityScore}'</div>
        </div>

        <p>Total Exercises</p>
        <div class="w3-grey">
          <div class="w3-container w3-padding">100,000</div>
        </div>

        <p>Total Weight</p>
        <div class="w3-grey">
          <div class="w3-container w3-padding">50,000,000 lbs</div>
        </div>
      </div>
      <hr />
    </div>

    <script>
      var mySidebar = document.getElementById("mySidebar");
      var overlayBg = document.getElementById("myOverlay");
      function w3_open() {
        if (mySidebar.style.display === "block") {
          mySidebar.style.display = "none";
          overlayBg.style.display = "none";
        } else {
          mySidebar.style.display = "block";
          overlayBg.style.display = "block";
        }
      }
      function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
      }
    </script>
  </body>
</html>